<h1>Hunches#show</h1>
<p>Find me in app/views/hunches/show.html.erb</p>

<%= @hunch.name %>

<hr>



<%= form_for [@hunch, LineItem.new] do |f|%>

<%= f.label :quantity %>
<%= f.text_field :quantity, class:"form-control" %>

<%= f.submit 'Add' %>
<% end %>
