<!DOCTYPE html>
<html>
  <head>
    <title>Consultio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="https://tinyurl.com/y99rphq6">
  </head>

  <body>
    <div class="container">
      <nav>
        <ul class="navbar-nav">
          <li>
          <a href="http://localhost:3000" class="glyphicon glyphicon-home"></a>
          </li>
          <li>
            <a href="/users/portfolio" class="glyphicon glyphicon-piggy-bank"></a>
          </li>
          <li>
            <a href="#" class="glyphicon glyphicon-earphone"></a>
          </li>
        <li>
          <% if @current_user.present? %>
          <a href="/users/<%= @current_user.id %>/edit"><%= @current_user.name %></a>
          <% else %>
          <a href="/login" class="glyphicon glyphicon-user"></a>
          <% end %>
        </li>
      </ul>
        <div>
          <% if @current_user.present? %>
            <%= link_to 'Logout', login_path, method: :delete %>
          <% end %>
        </div>
      </nav>
    </div>

    <%= yield %>

  </body>
</html>
