<!DOCTYPE html>
<html>
  <head>
    <title>Consultio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

          <nav>
            <div class="container">
              <ul class="navbar-nav">     <!--what is this class doing?? -->
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
              <div>
                <% if @current_user.present? %>
                <a href="/users/<%= @current_user.id %>/edit"><%= @current_user.name %></a>
                <% else %>
                <a href="/login">Login</a>
                <% end %>
              </div>
              <div>
                <% if @current_user.present? %>
                  <%= link_to 'Logout', login_path, method: :delete %>
                <% end %>

              </div>
            </div>
          </nav>

    <%= yield %>

    </div>
  </body>
</html>
